body,
h1,
h2,
h3,
p,
ul,
li,
header {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

.container-fluido {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas: 
        "header"
        " main" 
        " footer";
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    transition: all 5s;
    position: relative;
}

.nav-link:hover {
    border-bottom: 2px solid #FAC53E;
}

.nav-link::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #059b9a;
    bottom: 0;
    left: 0;
}

.header {
    grid-area: header;
    width: 100%;
}

.main-content {
    grid-area: main;
    width: 100%;
    padding: 40px 0px;
}
  
footer p {
    font-size: 15px;
  }

.footer {
    background-color: #0e0357;
    grid-area: footer;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}

#login .container #login-row #login-column #login-box {
    max-width: 100%;
    height: 300px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }

  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -82px;
  }

  .form-control {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  }

  .cor-azul {
    color: #1A3FAD;
  }

  .btn-custom-bg {
    background-color: #1A3FAD !important;
    margin-top: 10px;
    color: white !important;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }